:root {
    --main-white: wheat;
    --main-red: #be3144;
    --main-blue: #e1f4f3;
    --main-gray: #383838;
    --main-black: #252525;
    --project-blue: #226491;
}

/*Start of styles*/
* {
    margin: 0;
    padding: 0;
}

body,
html {
    scroll-behavior: smooth;
}

button {
    color: white;
    cursor: pointer;
    outline: none;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
}

button:active {
    transform: none;
}

.header {
    background-color: black;
    position: absolute;
    min-height: 80px;
    height: 8.5vh;
    min-width: 100vw;
}

.header button {
    background-color: var(--main-black);
    border-radius: 80px;
    height: 65%;
}

.menu-bar {
    color: white;
    margin: auto;
    width: 68vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.brand-name {
    flex-grow: 1;
}

.location-bar {
    height: 100%;
    flex-grow: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-location-btn {
    width: 250px;
}

.help-bar {
    flex-grow: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.help-bar button {
    background-color: black;
    width: 100px;
}

#signup {
    background-color: var(--main-black);
}